<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Polaroid Photobar Gallery with jQuery</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Polaroid Photobar Gallery" />
        <meta name="keywords" content="polaroid, jquery, css3, rotation, image gallery"/>
		<link rel="shortcut icon" href="/static/static/images/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/static/css/space.css" type="text/css" />
		 <script src="/static/js/jquery-1.10.1.min.js"></script>
		<script src="/static/js/turn.min.js"></script>
		<style type="text/css">
			
			.album{
				width:1152px;
				height:752px;
			}
		</style>
    </head>

    <body>

				<div class="album">
					<div class="content">
						<img src="/static/images/album1/1.jpg" />
						<span>The Sixties by Tetsumo</span>
					</div>
					<div class="content">
						<img src="/static/images/album1/2.jpg" />
						<span>The Sixties by Tetsumo</span>
					</div>
					<div class="content">
						<img src="/static/images/album1/3.jpg" />
						<span>The Sixties by Tetsumo</span>
					</div>
					<div class="content">
						<img src="/static/images/album1/4.jpg" />
						<span>The Sixties by Tetsumo</span>
					</div>
					<div class="content">
						<img src="/static/images/album1/5.jpg" />
						<span>The Sixties by Tetsumo</span>
					</div>
					<div class="content">
						<img src="/static/images/album1/6.jpg" />
						<span>The Sixties by Tetsumo</span>
					</div>
					<div class="descr">
						The Sixties
					</div>
				</div>

        <!-- The JavaScript -->
        

		<script type="text/javascript">

			$(window).ready(function() {
				$('.album').turn({
									display: 'double',
									acceleration: true,
									gradients: !$.isTouch,
									elevation:50,
									when: {
										turned: function(e, page) {
											/*console.log('Current view: ', $(this).turn('view'));*/
										}
									}
								});
			});
			
			
			$(window).bind('keydown', function(e){
				
				if (e.keyCode==37)
					$('#magazine').turn('previous');
				else if (e.keyCode==39)
					$('#magazine').turn('next');
					
			});

	</script>
    </body>
</html>