{% extends '_base.html' %}

{% block extra_css %}
    <style>
            body {
            /*background: #000;
                /* 60px to make the container go all the way to the bottom of the topbar */
                /* bootstrap-responsive.css will rewrite it to 0 */
            overflow:hidden;
            }
        </style>
{% endblock extra_css %}

{% load comments %}

{% block content1 %}
       

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 offset4">

                <canvas id="myCanvas" width="700" height="530">你的浏览器还不支持哦</canvas>





            </div>
            <div class="span10 offset1 panel-description button-text-panel text-center">
                <div class="padding-middle">
                   <img class="profile img-circle" src="/static/images/profile.png">
                   <h4>Bruce的个人网站</h4>
                   <h5>和朋友们分享我的生活以及快乐。</h5>
                   <hr class="soften">
                   <p>                                    
                   <span class="hidden-phone">这是我的个人网站</span>                  
                   </p>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
function draw() {
var c=document.getElementById("myCanvas");
    if (c.getContext) {
        var cxt=c.getContext("2d");

        //灰色的大球
        cxt.fillStyle="rgba(199, 199, 199, 1)";
        cxt.beginPath();
        cxt.arc(400,180,105,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();

        //灰色的大球旁边的小球
        cxt.fillStyle="rgba(199, 199, 199, 1)";
        cxt.beginPath();
        cxt.arc(190,160,30,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();

		//橙色的大球旁边的小球
        cxt.fillStyle="rgba(199, 199, 199, 1)";
        cxt.beginPath();
        cxt.arc(80,330,75,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();

		//绿色的大球旁边的小球
        cxt.fillStyle="rgba(199, 199, 199, 1)";
        cxt.beginPath();
        cxt.arc(600,300,50,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();

		//粉红的大球旁边的小球
        cxt.fillStyle="rgba(199, 199, 199, 1)";
        cxt.beginPath();
        cxt.arc(410,360,30,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();


        //蓝色的大球        
        cxt.fillStyle="rgba(27, 138, 190, 1)";
        cxt.beginPath();
        cxt.arc(270,228,105,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();


        //粉红的中球
        cxt.fillStyle="rgba(239, 95, 163, 1)";
        cxt.beginPath();
        cxt.arc(490,270,75,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();

        //橙色的中球
        cxt.fillStyle="rgba(233, 83, 37 , 1)";
        cxt.beginPath();
        cxt.arc(150,400,75,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();

        //绿色的小球
        cxt.fillStyle="rgba(75, 169, 60 , 1)";
        cxt.beginPath();
        cxt.arc(600,400,65,0,Math.PI*2,true);
        cxt.closePath();
        cxt.fill();

		cxt.strokeStyle ='rgba(199, 199, 197, 1)';
		cxt.moveTo(205,450);
		cxt.lineTo(280,600);
		cxt.lineTo(185,467);
		cxt.stroke();


		cxt.moveTo(255,331);
		cxt.lineTo(350,600);
		cxt.lineTo(310,325);
		cxt.stroke();


		cxt.moveTo(420,600);
		cxt.lineTo(370,280);
		cxt.stroke();

		cxt.moveTo(420,600);
		cxt.lineTo(415,380);
		cxt.stroke();
	
		cxt.moveTo(420,600);
		cxt.lineTo(470,340);
		cxt.stroke();
	
		cxt.moveTo(470,600);
		cxt.lineTo(570,460);
		cxt.stroke();
	
		cxt.moveTo(470,600);
		cxt.lineTo(550,450);
		cxt.stroke();
		
    }
}
draw();

</script>


{% endblock  %}

{% block extra_js %}
<script>
{% endblock extra_js %}
